<%= form_for(@course) do |f| %>

  <div class="field">
  	<%= f.label :description %><br>
  	<%= f.text_field :description %>
  </div>
  <div class="field">
  	<%= f.label :start_date %><br>
    <%= f.date_field :start_date %>
  </div>
  <div class="actions">
  	<%= f.submit %>
  </div>

<% end %>
