<!DOCTYPE html>
<html>
<head>
  <title>Are You A Stalker?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header role="banner">
    <div class='navbar navbar-inverse'>
      <div class='container'>
        <h1 class="logo"><a class='navbar-brand' href=<%= root_path %>>Stalker</a></h1>
        <ul class='nav navbar-nav pull-right'>
          <li>
            <a href=<%= students_path %>>coLearners</a>
          </li>
          <li>
            <a href=<%= courses_path %>>Courses</a>
          </li>
          <li>
            <a href='#'>Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div id="main-content" class="container">
    <main class="content" itemprop="mainContentOfPage" role="main">
      <%= yield %>
    </main>
  </div>

  <footer>
    <div id="footer-content" class="container">
      <% current_year = Time.now.year %>
      <p class="credits">Copyright &copy; 2013
        <% if current_year > 2013 %>
          <%= " - " + current_year %>
        <% end %>
         The Factory</p>
    </div>
  </footer>

</body>
</html>
