<!DOCTYPE html>
<html>
<head>
  <title>Are You A Stalker?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor=#0066CC >
  <div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='container'>
      <a class='navbar-brand' href=<%= root_path %>>Home</a>
      <ul class='nav navbar-nav pull-right'>
        <li>
          <a href=<%= students_path %>>Students</a>
        </li>
        <li>
          <a href=<%= courses_path %>>Courses</a>
        </li>
        <li>
          <a href='#'>Logout</a>
        </li>
      </ul>
    </div>
  </div>
<%= yield %>

</body>
</html>
